* {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  background: black;
  /* background-image: url("../images/background.jpg"); */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh minmax(85vh, 1fr);
  gap: 25px 0px;
}

