.member-item {
  background-color: lightGray;
  padding: 10px;
  border-bottom: 1px black dotted;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1.5fr 2fr 1fr;
  grid-template-rows: 1fr;
  text-align: left;
}

.member-container {
  background-color: #f8f8ff;
  border-bottom: 1px black dotted;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 7fr 3fr;
}

.member-details-vaccines {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.member-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: left;
}

.member-name {
  margin-left: 75px;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}


.search-results{
  background-color:lightgoldenrodyellow
}



