.search-box{
  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 4fr 16fr 2fr 3fr 3fr 2fr;
  gap: 5px 5px;
  height: 45em;
  margin-left: 30px;
  background-color: white;
  border: 2px solid black;
}

.expiration-select{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.search-heading{
  border-bottom: 1px solid black;
}
.rank-select{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 9fr;
  gap: 0px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.enlisted-ranks{
  grid-row-start: 2;
  grid-column-start: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px 10px;
  border-right: 1px solid black;
}
.warrant-ranks{
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px 10px;
  border-right: 1px solid black;
}
.officer-ranks{
  grid-row-start: 2;
  grid-column-start: 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px 10px;
}

.expiration-item{
  display:flex;
}

.submit-button{
  grid-row-start: 7;
  grid-column-start: 1;
}
