.container{
    max-width: 640px;
    float: left;
    
}
.vac_form{
    
    width: 100%;
    background-color: white;
    border: 1px solid #444;
    color: #fff;
    display: block;
    font-size: 1em;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}
.button{
   text-transform: uppercase;
   padding: 10px 60px;
   color: white;
   background: #444;
   font-weight: normal;
   border-width: 0 0 0 0;
   border-bottom: 5px solid #ccc;
}
.item{
    width: 100%;
    background-color: transparent; 
    text-transform: uppercase; 
    border-radius: 0; 
    color: royalblue; 
    height: 30px; 
}
.heading{
    color: white;
    width: 100%;
    
    padding: 10px 50px;
    border-bottom: 2px solid #444;
    background: royalblue;

}

.label {
    color: royalblue;
    font-size: 16;
    margin: 0 5px .5em 0;
    float: left;

  }
.input{
    float: right;
    border: 1px solid #444;
    padding: 6px 10px;
    font-size: 16;
    margin: 0 0 0 0
}
.buttonsss{
    display: flex;
    margin-top: 1px;
}

.review_form{
    
    width: 100%;
    background-color: white;
    border: 1px solid #444;
    color: royalblue;
    display: block;
    font-size: 1em;
    padding: 35px 50px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif
}
.pers_list{
    font-style: italic;
}